[submodule ".ci/hpc-workflows"]
	path = .ci/hpc-workflows
	url = https://github.com/islas/hpc-workflows

[submodule "src/phys/noahmp"]
	path = src/phys/noahmp
	url = https://github.com/NCAR/noahmp
[submodule "src/phys/MYNN-EDMF"]
	path = src/phys/MYNN-EDMF
	url = https://github.com/NCAR/MYNN-EDMF
